# Get your OpenAI API Key here: https://platform.openai.com/account/api-keys
OPENAI_API_KEY=****

# Get your OpenRouter API Key here: https://openrouter.ai/settings/keys
OPENROUTER_API_KEY=****

# Get your Firecrawl API Key here: https://www.firecrawl.dev/
FIRECRAWL_API_KEY=****

# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=****

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****

# Get your Upstash Redis URL and Token here: https://console.upstash.com/
UPSTASH_REDIS_REST_URL==****

# Get your Upstash Redis Token here: https://console.upstash.com/
UPSTASH_REDIS_REST_TOKEN==****
